@import 'variables';

.features { 
  margin:50px 0 25px 0;
  .feature {
    overflow:auto;
    h4 { margin:2.5em 0 1em; }
    .graphic {
      padding:0;
      min-height:100px;
    }
    .text { padding:0 5% 40px 5%; }
  }
}

.cta {
  a { font-size:1.5em; }
}