@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

.turbolinks-progress-bar {
  height: 5px;
  background-color: white;
}

.body {
  background-color: #eee;
  font-family: 'Droid Sans', verdana, arial, helvetica, sans-serif;
  font-size:13px;
}

.contain {
  background-color: #fff;
  border-radius:5px;
  padding:20px;
  margin-bottom:20px;
}

/* forms */
.field { padding:10px 0 20px; }
.actions { text-align:center; margin:20px 0 20px 0; }
label { display: block; }
.forgot {
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.5em;
}
.remember { font-weight:800; }

.feed { padding:20px; }

.list-user, .list-game {
  padding: 10px;
  margin: 5px;
}

.game-avatar {
  width:100%;
  max-width:100px;
}

.stats {
  margin-top: 10px;
}

.profile-navbar {
  background-color:white;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.delete {
  margin-top:20px;
}

a {
  color: #e67e22;
  text-decoration: none !important;
  &:visited {}
} 
a:hover {
  color:#d35400;
}

hr { 
  margin: 10px 0 10px; 
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  font-size: x-small;
  text-align: center;
}
footer a {
  color: #e67e22;
  text-decoration: none !important;
  &:visited {
    color: #d35400;
  }
} 



.nav-pills > li.active > a {
  background-color: #e67e22!important;
}
.pagination {
  text-align:center;
  width:100%;
}
.fine {
    color: #999;
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
  }
.left { text-align:left; }
.center { text-align:center; }
.right { text-align:right; }
.no-border { border:0px; }
.no-gap { padding-left:0px; padding-right:0px }
.fit { width:100%; }
.circle { border-radius: 50%; }
.fixed { position:fixed; }
.serif { font-family: 'Droid Serif', verdana, arial, helvetica, sans-serif; }
.yellow { color:yellow; }
@media only screen and (max-width: 768px) {
  .no-mobile {display:none;}
}
@media only screen and (min-width: 768px) {
  .only-mobile {display:none;}
}
@import 'variables';

.intro {
  margin:50px 0 50px;
  h1 { font-size: 3.5em }
  h3 { font-size: 2em }
}

.feature {
  overflow:auto;
  h2 {  margin:1.5em 0 1em; }
  h4 { margin:1em; }
  .graphic {
    padding:0;
    min-height:200px;
  }
  .text { padding:0 5% 40px 5%; }
}

.cta {
  margin-top:50px;
  margin-bottom:50px;
  a { font-size:2em;  }
}

.game {
  .stats {
    margin: 15px 0 5px;
  }
  .description {
    text-align:left;
    margin-top:20px;
  }
  .year {
   font-size:.5em;
  }
  .feed { padding:20px; }
  .posts {
    padding: 25px;
    margin: 10px;
    border-radius: 15px;
    background-color: $main-color;
    overflow:auto;
  }
}

.game-list {
  .list-game {
    margin-bottom:5px;
    .game-image {  }
  }
}

.popular {
  margin-top:20px;
  padding:10px;
}

.favorite-active:before { content: 'Favorited'; }
.favorite-active:hover:before { content: 'Remove from Favorites'; }
.owns-active:before { content: 'Owned'; }
.owns-active:hover:before { content: 'Remove from Owned'; }
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.navbar-form { border:0; width:100%}
.post {
  @include border-radius(15px);
  padding: 25px;
  margin: 10px;
  background-color: $main-color;
  overflow:auto;
  box-shadow: 5px 5px 5px #888888;
  a {
    color: white;
    text-decoration: none !important;
    font-weight: 800;
    &:visited {
      color: $lighten;
    };
  } 
  a:hover { color: $darken}

  .images {
    .user-image {
      width:80px;
      height:80px;
      margin:10px 0 10px;
    }
    .game-image {
      max-width:80px;
      margin:10px 0 10px;
    }
  }
  

  .timestamp {
    font-size:.8em;
  }

  hr { margin: 5px 0 5px }

  .share { 
    margin: 5px 5px 5px 0; 
    color: white;
  }
}

$size: 12px;

.social-share-button {
  text-align:right;
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.ui-helper-hidden-accessible { display: none }
#results {
  ul { 
    list-style-type: none; 
    padding: 0; 
    border: 1px solid; 
  }
  li { 
    padding: 5px;
    display: inline-block;
    width:100%; 
    &:hover { background-color: $main-color; }
  }
  a:hover { color:white }
  .ui-state-focus { background-color: inherit; }
}

.profile {
  margin-top:25px;
  text-align:center;
}
.profile-image {
  width:150px; 
  height:150px; 
}

.follow {}

.follow-active:before { content: 'Following'; }
.follow-active:hover:before { content: 'Unfollow'; }

.list-user {
  .user-image {
    width:50px;
    height:50px;
    margin:10px;
  }
}

.omniauthbox {
  padding-top:20px;
  text-align:center;
}

.menu {
  padding-bottom:10px;
}