<div class="list-user">
	<div class="col-xs-3">
        <%= link_to image_tag(list_user.avatar.thumb, class: 'circle user-image'), list_user %>
    </div>
    <div class="col-xs-9">
    	<h3><%= link_to list_user.display_name, list_user %></h3>
    </div>
</div>

<div class="clearfix"></div>