<div class="col-xs-12">
<%= raw('<amp-img src="' + profile_picture(@user, true).to_s + '" class="circle user-image" width="150" height="150">') %>
<h3><%= link_to @user.display_name, user_path(@user, format: :amp) %></h3></div>