<div class="list-user">
	<div class="col-xs-3 center">
        <%= link_to image_tag(user.avatar.thumb, class: 'circle user-image'), user %>
    </div>
    <div class="col-xs-6 col-xs-offset-2">
    	<h3><%= link_to user.display_name, user %></h3>
    </div>
</div>

<div class="clearfix"></div>