<div class="profile col-sm-3">
<% cache @user do %>
<%= render 'profile' %>
<% end %>
</div>

<div class="feed col-sm-9">
    <h3>Followers</h3>
    <%= render partial: "list_user", collection: @users %>
</div>