<% if current_user && current_user.favorited?(@game.id) %>
<%= link_to "", relation_path(@favorite_relation), :method => :delete, class: 'col-xs-12 btn btn-warning favorite-active' %>
<% else %>
<%= (link_to raw("Add to Favorites"), relations_path(related_id: @game.id, relationship: "favorite"), method: :post, class: 'col-xs-12 btn btn-default favorite') %>
<% end %>
<% if current_user && current_user.owns?(@game.id) %>
<%= link_to "", relation_path(@owned_relation), :method => :delete, class: 'col-xs-12 btn btn-warning owns-active' %>
<% else %>
<%= (link_to raw("Mark owned"), relations_path(related_id: @game.id, relationship: "owns"), method: :post, class: 'col-xs-12 btn btn-default owns') %>
<% end %>

<div class="clearfix"></div>
<hr>