<div id="checkin" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Check-in</h4>
      </div>
      
      <%= render 'posts/modal_form', post: Post.new(game_id: @game.id, user_id: current_user.id) %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('#checkin').modal('hide')
</script>