<%= link_to raw('<amp-img src="' + @game.img_url.medium.to_s + '" class="game-image" width="250" height="250">'), game_path(@game, format: :amp) %>

<h2 class="serif"><%= @game.title %> <span class="year"><%= @game.year %></span></h2>

<%= link_to raw("<span class='glyphicon glyphicon-book' aria-hidden='true'></span> View on BoardGameGeek"), ("https://www.boardgamegeek.com/boardgame/" + @game.id.to_s), class: 'col-xs-12 btn btn-default' unless @game.id < 0 %><br>