<div class="stats col-xs-12">
	<div class="col-xs-4" title="Total Check-ins">
		<%= @posts_count %> Check-ins
	</div>
	<div class="col-xs-4" title='Number of Times Favorited'>
		<%= @favorites_count %> Favorited
	</div>
	<div class="col-xs-4" title='Users Who Own'>
		<%= @owned_count %> Owned
	</div>
</div>

<div class="clearfix"></div>