<h1>Games</h1>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td>
          <h3><%= game.title %></h3>
          <%= image_tag(game.img_url, width:'100px') %><br>
          <%= game.year %>
        </td>
        <td><%= link_to 'View', game %></td>
      </tr>
    <% end %>
  </tbody>
</table>