<h1>Editing Check-in</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', @post, class: 'btn btn-default' %>
<%= link_to 'Delete check-in', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>