/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.post {
  padding: 25px;
  margin: 10px;
  border-radius: 25px;
  background-color:#ccc;
  overflow:auto;
}

.post .user-image, .game-image {
  width:95%;
  max-width: 75px;
  margin-bottom: 10px;
}
.post .user-image {
  max-height: 75px;
}

.profile-image {
  width:150px; 
  height:150px; 
}

.profile-navbar {
  background-color:black;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.year {
	font-size:.5em;
}
.circle {
  border-radius: 50%;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  font-size: x-small;
  text-align: center;
}