/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require navbar.scss
 *= require social-share-button
 */
 
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

.turbolinks-progress-bar {
  height: 5px;
  background-color: white;
}

body {
  background-color: #eee;
  font-family: 'Droid Sans', verdana, arial, helvetica, sans-serif;
  font-size:13px;
}
main { padding-top: 70px; }

.contain {
  background-color: #fff;
  border-radius:5px;
  padding:20px;
  margin-bottom:20px;
}

/* forms */
.field { padding:10px 0 20px; }
.actions { text-align:center; margin:20px 0 20px 0; }
label { display: block; }
.forgot {
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.5em;
}

.feed, .padded { padding:20px; }

.list-user, .list-game {
  padding: 10px;
  margin: 5px;
}

.game-avatar {
  width:100%;
  max-width:100px;
}

.stats {
  margin-top: 10px;
}

.profile-navbar {
  background-color:white;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.delete {
  margin-top:20px;
}

a {
  color: #e67e22;
  text-decoration: none !important;
  &:visited {}
} 
a:hover {
  color:#d35400;
}

hr { 
  margin: 10px 0 10px; 
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  font-size: x-small;
  text-align: center;
}
footer a {
  color: #e67e22;
  text-decoration: none !important;
  &:visited {
    color: #d35400;
  }
} 

.nav-pills > li.active > a {
  background-color: #e67e22!important;
}
.pagination {
  text-align:center;
  width:100%;
}
.fine {
    color: #999;
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
  }
.left { text-align:left; }
.center { text-align:center; }
.right { text-align:right; }
.no-border { border:0px; }
.no-gap { padding-left:0px; padding-right:0px }
.fit { width:100%; }
.circle { border-radius: 50%; }
.fixed { position:fixed; }
.serif { font-family: 'Droid Serif', verdana, arial, helvetica, sans-serif; }
.yellow { color:yellow; }
.strong { font-weight:800; }
@media only screen and (max-width: 768px) { .no-mobile {display:none;} }
@media only screen and (min-width: 768px) { .only-mobile {display:none;} }