@import 'variables';

.game {
  .image {
    max-width: 100%;
    max-height: 500px;
  }
  .stats {
    margin: 15px 0 5px;
  }
  .year { font-size:.5em; }
}

.popular {
  margin-top:20px;
  padding:10px;
}

.favorite-active:before { content: 'Favorited'; }
.favorite-active:hover:before { content: 'Remove from Favorites'; }
.owns-active:before { content: 'Owned'; }
.owns-active:hover:before { content: 'Remove from Owned'; }