@import 'variables';

.post {
  padding: 25px;
  margin: 10px;
  border-radius: 15px;
  background-color: $main-color;
  overflow:auto;
  box-shadow: 5px 5px 5px #888888;
  a {
    color: white;
    text-decoration: none !important;
    font-weight: 800;
    &:visited {
      color: $lighten;
    };
  } 
  a:hover { color: $darken}

  .images {
    .user-image {
      width:80px;
      height:80px;
      margin:10px 0 10px;
    }
    .game-image {
      max-width:80px;
      margin:10px 0 10px;
    }
  }
  

  .timestamp {
    font-size:.8em;
  }

  hr { margin: 5px 0 5px }

  .share { 
    margin: 5px 5px 5px 0; 
    color: white;
  }
}

$size: 12px;

.social-share-button {
  text-align:right;
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}