.profile {
  margin-top:25px;
  text-align:center;
}
.profile-image {
  width:150px; 
  height:150px; 
}

.follow {}

.follow-active:before { content: 'Following'; }
.follow-active:hover:before { content: 'Unfollow'; }

.list-user {
  .user-image {
    width:50px;
    height:50px;
    margin:10px;
  }
}

.omniauthbox {
	padding-top:20px;
	text-align:center;
}

.menu {
  padding-bottom:10px;
}