<div class="col-xs-12 contain">
<ul class="masthead">
<li><%= link_to 'About', '/about' %></li>
<li><%= link_to 'Privacy', '/privacy' %></li>
<li><%= link_to 'Cookies', '/cookies' %></li>
<li><%= link_to 'Terms of Service', '/terms' %></li>
</ul>
</div>