<%= content_for(:title, "About") %>
<div class="col-sm-12 contain">
<h1>About</h1>

<p>The goal of <%= Rails.application.config.app_name %> is singular: make it easy to share the board games you play.</p>

<h2>Team</h2>

<p>@aseroff is a web application developer and check-in app veteran. After spending 5 years in the social TV space following the streaming revolution and the quality TV renaissance, he noticed a similar rise in the profile of board games. Considering the lack of a casually accessible check-in app for board games, he developed <%= Rails.application.config.app_name %> over two months in 2017.</p>

<h2>Support</h2>

<p>At the moment, <%= Rails.application.config.app_name %> has no revenue to offset its costs, which means it will run off your generous donations to the addresses found here.</p>
</div>