<%= content_for(:title, "Donate") %>
<div class="col-sm-12 contain">
<h1>Donate</h1>
<p><%= Rails.application.config.app_name %> relies on your support to pay its web hosting bills. All donations will <em>exclusively</em> be used to pay the bills.</p>
<p>USD or other fiat cannot be donated at this time.</p>
<p>Bitcoin can be donated to <strong>18ngidJkfvPgkiSrywhUyNmTUfTypH7qC</strong></p>
<p>Ethereum can be donated to <strong>0xAc7081E1a59590072995aFbfA8D5B63c91D22eb0</strong></p>
<p>Thank you for your support!</p>
</div>

<div class="center">
  <%= render 'application/masthead' %>
</div>