<h1>Investors</h1>
<p>In order to fund its growth, Gamekeeper plans to offer an Ethereum-based crowdsale of approximately 25% of the tokenized asset. Token holders would receive a proportional return on any future profits.</p>
<p></p>