<nav class="navbar navbar-fixed-top">
	<div class="col-xs-5 col-xs-offset-1">
		<%= link_to raw('<amp-img src=' + asset_path("tokens_brand.png") + ' height="20px" width="112px">'), root_path, class: 'navbar-brand' %>
	</div>
	<div class="col-xs-5 right">
		<%= render 'layouts/nav_links_for_auth' %>
	</div>

	<div class="clearfix"></div>
</nav>