<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="navbar-header">
      <%= link_to "Gamekeeper", posts_path(format: :amp), class: 'navbar-brand' %>
    </div>
  </div>
</nav>